@import "tailwindcss";


p {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
  z-index: 100;
}

h1 {
      font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    z-index: 100;
}

h2 {
      font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-size: x-large ;
    z-index: 100;
}

#step{
      font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
  font-size: smaller;
    z-index: 100;
}