---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="hero">
    <div
      class="flex flex-col place-content-center gap-15 xl:flex-row xl:gap-100"
    >
      <div class="mr-10 ml-10 flex flex-col items-center gap-3">
        <h1
          class="H1 w-75 justify-start text-center text-5xl uppercase xl:w-150 xl:text-8xl"
        >
          instant day
        </h1>

        <p class="Brødtekst w-72 text-center text-black xl:text-xl">
          Join us in honouring Instant Day, where every click captures a memory
          and every print tells a story worth keeping
        </p>
        <p
          class="Brødtekst mt-3 mb-3 w-35 border-t border-b p-1.5 text-center text-black xl:w-45 xl:text-xl"
        >
          18. October 2025
        </p>
        <div class="mt-5 flex flex-col items-center">
          <img
            class="max-xl:h-16 max-xl:w-60"
            src="/images/countdown.png"
            alt=""
          />
        </div>
        <div class="mt-10 flex flex-row justify-center divide-x-1">
          <p
            class="Underpunkter-medium pt-3 pr-5 pb-3 text-center text-[8.91px] font-bold xl:text-xl"
          >
            SAVE THE DATE
          </p>
          <p
            class="Underpunkter-medium pt-3 pr-5 pb-3 pl-5 text-center text-[8.91px] font-bold text-black xl:text-xl"
          >
            SHARE YOUR INSTANT
          </p>
          <p
            class="Underpunkter-medium pt-3 pb-3 pl-5 text-center text-[8.91px] font-bold text-black xl:text-xl"
          >
            2025 CONTRIBUTIONS
          </p>
        </div>
      </div>
      <div class="relative mt-15 h-60 w-56 place-self-center">
        <div>
          <img
            class="relative -top-20 h-80 w-100 rotate-[8.19deg] border max-xl:absolute max-xl:h-50 max-xl:w-40 xl:-top-30 xl:-left-50"
            src=""
            alt=""
          />
        </div>
        <div>
          <img
            class="relative left-25 h-80 w-100 rotate-[-23.47deg] border max-xl:absolute max-xl:h-50 max-xl:w-40 xl:-top-90 xl:left-0"
            src=""
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <section class="home-info-what mt-25 h-[913px] w-auto max-xl:h-96">
    <div
      class="flex flex-row justify-between bg-[#2F2F2F] xl:flex-row-reverse xl:place-content-start xl:gap-50"
    >
      <div class="m-5 flex flex-col place-content-center gap-5">
        <div>
          <h1 class="H2-medium text-white xl:text-7xl">What is Instant Day?</h1>
        </div>
        <div class="">
          <p
            class="Brødtekst w-48 text-xs font-light text-white xl:w-200 xl:text-3xl"
          >
            October 18 is Instant Day - a day all about celebrating instant
            photography. So get out your Polaroid, Instax or whatever instant
            photography camera you are using, and show us your instants. Instant
            Day isn’t really a photo competition, it’s more a homage to good old
            analogue, instant photography - everybody who participates are
            winners:-) But: We do have a nice prize for one lucky instant
            photographer!
          </p>
        </div>
      </div>
      <div
        class="place-self-center rounded-full max-xl:bg-none xl:bg-[#fffdf9]"
      >
        <img
          class="max-xl:W-40 place-self-start max-xl:h-60 xl:w-[481px]"
          src="/images/camcam.svg"
          alt="1"
        />
      </div>
    </div>

    <section class="home-info-why max-xl:mt-10 xl:mt-50">
      <div class="">
        <div>
          <div
            class="mr-11 ml-11 flex flex-col place-items-center gap-4 xl:w-220 xl:place-self-center xl:text-xl"
          >
            <h2 class="H2-light justify-start self-stretch text-center">
              WHY INSTANT PHOTOGRAPHY?
            </h2>
            <p>
              Instant photography began in the 1940s, when Edwin Land invented
              it after his daughter asked to see photos right away. Polaroid
              became a cultural icon, booming in the 70s and 80s before nearly
              vanishing in the digital age. Today, as people seek analogue,
              offline experiences, instant photography is making a
              comeback—offering a tactile, life-affirming way to capture
              memories. Let’s celebrate life and keep making them.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="home-info-how">
      <div>
        <div class="place-start mt-20 mr-11 ml-11">
          <h2 class="H2-light w-80 justify-start">HOW TO PARTICIPATE</h2>
          <p class="Brødtekst">
            So, got an instant photo ready for the public? In order to take part
            in Instant Day:
          </p>
          <div class="mt-10 flex flex-col gap-5 xl:flex-row">
            <div class="flex w-100 flex-col gap-5 xl:flex xl:flex-col">
              <h2>1.</h2>
              <p class="Underpunkter-light text-[12px] xl:text-lg">
                Take a photo of your instant with your smartphone (or scan it
                for max. quality) - the file should be between 2 - 10 MB, in
                jpg/jpeg or webp format.
              </p>
              <img class="place-self-center" src="" alt="1" />
            </div>
            <div class="flex w-100 flex-col gap-5 xl:flex xl:flex-col">
              <h2>2.</h2>
              <p class="Underpunkter-light text-[12px] xl:flex-1 xl:text-lg">
                Upload your photo and credentials on [link til din “share your
                instants” side]
              </p>
              <img class="place-self-center" src="" alt="2" />
            </div>
            <div class="flex w-100 flex-col gap-5 xl:flex xl:flex-col">
              <h2>3.</h2>
              <p class="Underpunkter-light flex-1 text-[12px] xl:text-lg">
                By joining, you agree to our [terms and conditions]. In short:
                you must be 18+, have consent from anyone in your photo, and
                allow us to exhibit and promote your instant.
              </p>
              <img class="place-self-center" src="" alt="3" />
            </div>
            <div class="flex w-100 flex-col gap-5 xl:flex xl:flex-col">
              <h2>4.</h2>
              <p class="Underpunkter-light flex-1 text-[12px] xl:text-lg">
                You can make up to 5 submissions - go through step 1-3 for each
                submission;-)
              </p>
              <img class="place-self-center" src="" alt="4" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="home-former-gallery mt-20 bg-[#2F2F2F]">
      <div>
        <div>
          <h1 class="H2-medium place-self-center pt-10 text-white xl:text-5xl">
            Former participants has uploaded
          </h1>
        </div>
      </div>

      <div class="p-15">
        <div
          class="flex flex-col gap-5 self-start justify-self-center border border-white"
        >
          <div class="relative -top-10 h-10 w-30 self-center bg-[#2F2F2F]">
          </div>
          <div
            class="relative top-510 h-10 w-30 self-center bg-[#2F2F2F] xl:top-178"
          >
          </div>
          <div
            class="flex flex-col gap-10 place-self-center pr-15 pb-15 pl-15 xl:grid xl:grid-cols-3"
          >
            <img class="h-72 w-60 border" src="" alt="1" />
            <img class="h-72 w-60 border" src="" alt="2" />
            <img class="h-72 w-60 border" src="" alt="3" />
            <img class="h-72 w-60 border" src="" alt="4" />
            <img class="h-72 w-60 border" src="" alt="5" />
            <img class="h-72 w-60 border" src="" alt="6" />
          </div>
        </div>
      </div>
    </section>
    <section class="home-inspiration">
      <div class="mt-20 flex flex-col gap-25">
        <div
          class="h-64 w-80 content-center place-self-center rounded-2xl bg-zinc-300 xl:h-80 xl:w-[1574px]"
        >
          <h1
            class="w-44 justify-start place-self-center text-center text-2xl xl:w-[852px] xl:text-5xl"
          >
            You can also get a lot of inspiration from the art Photography
            scene.
          </h1>
        </div>
        <div
          class="flex flex-col place-items-center gap-10 place-self-center xl:flex xl:flex-row xl:gap-50"
        >
          <div class="h-64 w-96 rounded-[57px] bg-zinc-300"></div>
          <div>
            <p class="w-[302px] justify-start">
              Dan Isaac Wallin is a swedish art photographer, who uses large
              format and vintage polaroid cameras for his work. His work hangs
              in numerous houses as posters.
            </p>
          </div>
        </div>
        <div
          class="flex flex-col place-items-center gap-10 place-self-center xl:flex xl:flex-row-reverse xl:gap-50"
        >
          <div class="h-64 w-96 rounded-[57px] bg-zinc-300"></div>
          <div>
            <p class="w-[302px] justify-start">
              Maripol is a french artist/photographer/film producer. Her claim
              to fame was in the 1980’s, where she photographed famous people
              with a Polaroid SX-70. Her photographs are still very influential
              in the fashion industry.
            </p>
          </div>
        </div>
        <div
          class="flex flex-col place-items-center gap-10 place-self-center xl:flex xl:flex-row xl:gap-50"
        >
          <div class="h-64 w-96 rounded-[57px] bg-zinc-300"></div>
          <div>
            <p class="w-[302px] justify-start">
              Mette Kelter is a danish art photographer, who often experiments
              with deliberate destruction of the chemical process in instant
              photos. One of the key words here is unpredictability in the work
              process, which leads to interesting and unique artworks
            </p>
          </div>
        </div>
        <div
          class="flex flex-col place-items-center gap-10 place-self-center xl:flex xl:flex-row-reverse xl:gap-50"
        >
          <div class="h-64 w-96 rounded-[57px] bg-zinc-300"></div>
          <div>
            <p class="w-[302px] justify-start">
              The Polaroid Collection, once assembled by the company and
              featuring works by famous photographers, was auctioned off after
              Polaroid’s 2008 bankruptcy. Fortunately, books like The Polaroid
              Book by Steve Crist and Barbara Hitchcock preserve its images.
            </p>
          </div>
        </div>
      </div>
    </section>
  </section>

  <style>
    .home-info-what img {
    }
  </style>
</Layout>
