---
import Layout from "../layouts/Layout.astro"

---

<Layout>
    <section class="hero">
        <div class="flex flex-col items-center">
            <h1 class="w-72 h-16 text-center justify-start text-black text-5x1 font-medium font-['jost']">instant day</h1>
            <p class="text-center">Join us in honouring Instant Day, where every click captures a memory and every print tells a story worth keeping</p>
        </div>
        <div></div>
    </section>
    <section class="home-info-what"></section>
    <section class="home-info-why"></section>
    <section class="home-info-how"></section>
    <section class="home-former-gallery"></section>
    <section class="home-inspiration"></section>
</Layout>