---
import Layout from "../layouts/Layout.astro";
import Steps from "../components/steps.astro";
import Text from "../components/Text.astro";
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
---

<Layout>
  <section class="hero mx-10 md:grid grid-cols-2 md:py-30 md:mx-50 mb-20">
    <article class="md:-mx-15 flex flex-col items-center gap-3">
      <div>
        <Text teksttype="titel" stylingclasses="mb-6 text-center"
          >INSTANT DAY</Text
        >
        <Text teksttype="brødtekst" stylingclasses="mb-10 text-center"
          >Join us in honouring Instant Day, where every click captures a memory
          and every print tells a story worth keeping</Text
        >
        <Text
          teksttype="h2_medium"
          stylingclasses="mb-6 text-center border-b-2 border-t-2 py-4"
          >18. October 2025</Text
        >
      </div>
      <Image
        src="/images/countdown-2.svg"
        alt="Form illustration"
        width="350"
        height="350"
        class="mx-auto"
      />
      <div class="-mx-40 mt-10 md:flex flex-row justify-center divide-x-1">
        <Text
          teksttype="underpunkter_medium"
          stylingclasses="md:mb-10 text-center border-b-2 py-4 border-r-0 md:border-r-2 md:border-b-0 px-4">SAVE THE DATE</Text
        >
        <Text
          teksttype="underpunkter_medium"
          stylingclasses="md:mb-10 text-center border-r-0 px-4 py-4 border-b-2 md:border-b-0">SHARE YOUR INSTANT</Text
        >
        <Text
          teksttype="underpunkter_medium"
          stylingclasses="md:mb-10 text-center py-4 border-l-0 md:border-l-2 px-4"
          >2025 CONTRIBUTIONS</Text
        >
      </div>
    </article>
    <article>
      <Image
        src="/images/galleri-hero.svg"
        alt="Form illustration"
        width="500"
        height="500"
        class="mx-auto -mr-20 hidden md:block"
      />
    </article>
  </section>
  <section class="bg-primary-black relative md:grid grid-cols-[1fr_2fr] py-10 md:py-30">
    <div class="md:col-start-2 m-5 md:flex flex-col place-content-center gap-5 md:pr-80">
      <Text teksttype="h1" stylingclasses="mb-6 color-primary-offwhite"
        >What is Instant Day?</Text
      >
      <Text teksttype="brødtekst" stylingclasses="mb-6 color-primary-offwhite"
        >October 18 is Instant Day - a day all about celebrating instant
        photography. So get out your Polaroid, Instax or whatever instant
        photography camera you are using, and show us your instants. Instant Day
        isn’t really a photo competition, it’s more a homage to good old
        analogue, instant photography - everybody who participates are
        winners:-) But: We do have a nice prize for one lucky instant
        photographer!</Text
      >
    </div>
    <Image
      src="/images/illustration-section.svg"
      alt="Form illustration"
      width="500"
      height="500"
      class="absolute -top-45 -ml-50 hidden md:block"
    />
    <Image
      src="/images/polaroid-4.svg"
      alt="Form illustration"
      width="300"
      height="300"
      class="md:hidden mx-auto"
    />
  </section>
  <section class="relative z-10 mt-20 md:mt-60 md:grid grid-cols-[1fr_2fr_1fr] gap-10">
    <Image
      src="/images/Why-section-1.svg"
      alt="Form illustration"
      width="400"
      height="400"
      class="-mt-40 -ml-20 hidden md:block"
    />
    <div class="items-center mx-10">
      <Text teksttype="h1" stylingclasses="mb-6">WHY INSTANT PHOTOGRAPHY?</Text>
      <Text teksttype="brødtekst" stylingclasses="mb-6"
        >Instant photography began in the 1940s, when Edwin Land invented it
        after his daughter asked to see photos right away. Polaroid became a
        cultural icon, booming in the 70s and 80s before nearly vanishing in the
        digital age. Today, as people seek analogue, offline experiences,
        instant photography is making a comeback—offering a tactile,
        life-affirming way to capture memories. Let’s celebrate life and keep
        making them.</Text
      >
    </div>
    <Image
      src="/images/Why-section-2.svg"
      alt="Form illustration"
      width="400"
      height="400"
      class="md:-mt-20 md:-mr-50 mb-5"
    />
  </section>
  <section class="mx-10 md:mx-50">
    <Text teksttype="h1" stylingclasses="mb-6">HOW TO PARTICIPATE</Text>
    <Text teksttype="brødtekst" stylingclasses="mb-6"
      >So, got an instant photo ready for the public? In order to take part in
      Instant Day:
    </Text>
    <Steps />
  </section>
  <section class="home-former-gallery mt-20 bg-[#2F2F2F]">
    <Text
      teksttype="h1"
      stylingclasses="pt-8 text-center color-primary-offwhite"
      >Former participant has uploaded</Text
    >
    <div class="p-15">
      <div class="border-primary-offwhite flex flex-col gap-5 border">
        <div
          class="flex flex-col gap-10 place-self-center p-15 xl:grid xl:grid-cols-3"
        >
          <img
            class="h-auto w-full object-cover"
            src="/images/photos/01-amager-faelled-instaxsquare01 1.png"
            alt="1"
          />
          <img
            class="col-span-2 h-auto w-full object-cover"
            src="/images/photos/16-vejlands-alle-panorama-2 1.png"
            alt="2"
          />
          <img
            class="h-auto w-full object-cover"
            src="images/photos/Kolonihave_aebletrae-removebg-preview 1.png"
            alt="3"
          />
          <img
            class="h-auto w-full object-cover"
            src="images/photos/09-amager-strand-nat 1.png"
            alt="4"
          />
          <img
            class="h-auto w-full object-cover"
            src="images/photos/08-karlstrup_kalkgrav_kaffe_08-2025 1.png"
            alt="5"
          />
        </div>
      </div>
    </div>
  </section>
  <section class="home-inspiration mx-10 md:mx-50 mb-40">
    <Text
      teksttype="h2_light"
      stylingclasses="mb-6 text-center bg-primary-red color-primary-offwhite mt-20 py-10 rounded-4xl"
      >You can also get a lot of inspiration from the art Photography scene.</Text
    >
    <!-- Dan Isaac Wallin -->
    <div class="md:mx-25 mt-30 md:grid grid-cols-2">
      <Image
        src="/images/photos/10137611445_c8646f637b_b 1.png"
        alt="Picture of Dan Isaac Wallin"
        width="350"
        height="350"
        class="mx-auto mb-5"
      />
      <div class="items-end">
        <Text teksttype="brødtekst" stylingclasses="mb-6"
          >Dan Isaac Wallin is a swedish art photographer, who uses large format
          and vintage polaroid cameras for his work. His work hangs in numerous
          houses as posters.</Text
        >
        <Button
          ctaText="Click here"
          ctaLink="https://www.danisaacwallin.com"
          bgColor="var(--primary-color-yellow)"
          textColor="var(--primary-color-black)"
          borderColor="var(--primary-color-yellow)"
        />
      </div>
    </div>
    <!-- Maripol -->
    <div class="md:mx-25 mt-30 md:grid grid-cols-2">
      <Image
        src="/images/maripol.svg"
        alt="Picture of Dan Isaac Wallin"
        width="300"
        height="300"
        class="mx-auto md:-mt-30 col-start-2 mb-5"
      />
      <div class="items-end row-start-1">
        <Text teksttype="brødtekst" stylingclasses="mb-6"
          >Maripol is a french artist/photographer/film producer. Her claim to
          fame was in the 1980’s, where she photographed famous people with a
          Polaroid SX-70. Her photographs are still very influential in the
          fashion industry.</Text
        >
        <Button
          ctaText="Click here"
          ctaLink="https://en.wikipedia.org/wiki/Maripol"
          bgColor="var(--primary-color-yellow)"
          textColor="var(--primary-color-black)"
          borderColor="var(--primary-color-yellow)"
        />
      </div>
    </div>
    <!-- Mette Kelter -->
    <div class="md:mx-25 mt-30 md:grid grid-cols-2">
      <Image
        src="/images/mette.svg"
        alt="Picture of Maripol"
        width="350"
        height="350"
        class="mx-auto md:-mt-20 mb-5"
      />
      <div class="items-end">
        <Text teksttype="brødtekst" stylingclasses="mb-6"
          >Mette Kelter is a danish art photographer, who often experiments with
          deliberate destruction of the chemical process in instant photos. One
          of the key words here is unpredictability in the work process, which
          leads to interesting and unique artworks.</Text
        >
        <Button
          ctaText="Click here"
          ctaLink="https://www.kelterphotography.com"
          bgColor="var(--primary-color-yellow)"
          textColor="var(--primary-color-black)"
          borderColor="var(--primary-color-yellow)"
        />
      </div>
    </div>
    <!-- The Polaroid Collection -->
     <div class="md:mx-25 mt-30 md:grid grid-cols-2">
      <Image
        src="/images/the-polariod-selection.webp"
        alt="Picture of Dan Isaac Wallin"
        width="300"
        height="300"
        class="mx-auto md:-mt-20 mt-10 col-start-2 mb-5"
      />
      <div class="items-end row-start-1">
        <Text teksttype="brødtekst" stylingclasses="mb-6"
          >The Polaroid Collection, once assembled by the company and featuring
            works by famous photographers, was auctioned off after Polaroid’s
            2008 bankruptcy. Fortunately, books like The Polaroid Book by Steve
            Crist and Barbara Hitchcock preserve its images.</Text
        >
        <Button
          ctaText="Click here"
          ctaLink="https://www.taschen.com/en/books/photography/40752/the-polaroid-book-45th-ed/"
          bgColor="var(--primary-color-yellow)"
          textColor="var(--primary-color-black)"
          borderColor="var(--primary-color-yellow)"
        />
      </div>
    </div>
  </section>
</Layout>
