---
import Text from '../components/Text.astro';
import Layout from "../layouts/Layout.astro";
import Form from '../components/Form.astro';
import Steps from '../components/steps.astro';
---

<Layout>
<Text teksttype="h1" stylingclasses="text-center mt-10 mb-6">SHARE YOUR MOMENTS</Text>
<Text teksttype="brødtekst" stylingclasses="text-center">Ready to share your instants?</Text>
<Text teksttype="brødtekst" stylingclasses="text-center mb-10 px-5">Got an instant photo ready for the public? In order to take part in Instant Day:</Text>
<Steps />
<Text teksttype="h1" stylingclasses="mt-20 mb-3 mx-10 md:mx-50">UPLOAD YOUR IMAGES</Text>
<Text teksttype="brødtekst" stylingclasses="mb-15 mx-10 md:mx-50">Upload images in JPG or PNG format.</Text>
<Form />
<section class="mb-20 border-b-2 border-t-2 mx-10 md:mx-50">
    <Text teksttype="h1" stylingclasses="text-left py-5">TERMS & CONDITIONS</Text>
    <Text teksttype="brødtekst" stylingclasses="text-left pb-5">By participating in the contest, you accept the following terms and conditions</Text>
    <Text teksttype="underpunkter_medium" stylingclasses="text-left pb-5">Participation</Text>
    <Text teksttype="brødtekst" stylingclasses="text-left pb-5">The competition is open to all photographers, both amateurs and professionals, who are over 18 years old.</Text>
    <Text teksttype="underpunkter_medium" stylingclasses="text-left pb-5">Instant Photo</Text>
    <Text teksttype="brødtekst" stylingclasses="text-left pb-5">Every submission has to be an analogue instant photo - not a digital montage made in a photo editing suite. The instant can be made in various ways, with analogue instant cameras, digital instant cameras like ie. the Fujifilm EVO or scan-and-print tools like ie. the Polaroid Lab. The instant photo can be manipulated with analogue processes - the organizers encourage instant photography experiments. The submission can depict the instant photo in many ways: As a flat scan without or without the instant photo frame, as a photo showing the instants in a frame, on the wall etc. The instant doesn’t need to be just one photo: It can be a panorama or collage of multiple instants that make up one submission.</Text>
    <Text teksttype="underpunkter_medium" stylingclasses="text-left pb-5">Consent</Text>
    <Text teksttype="brødtekst" stylingclasses="text-left pb-5">It is prohibited to upload photographs of people who have not given consent to the publication of the image. Images of people in private or embarrassing situations, regardless of whether they are photographed in a public place, are not allowed.</Text>
    <Text teksttype="underpunkter_medium" stylingclasses="text-left pb-5">Legal stuff</Text>
    <Text teksttype="brødtekst" stylingclasses="text-left pb-5">The organizers reserve the right to disqualify any participant who violates these conditions. The organizers assume no responsibility for any loss, damage or injury that may arise as a result of participation in the competition or the use of prizes. Participants release the organizers from any claim, lawsuit or liability related to their participation in the competition.</Text>
    <Text teksttype="underpunkter_medium" stylingclasses="text-left pb-5">Number of submissions</Text>
    <Text teksttype="brødtekst" stylingclasses="text-left pb-5">You can enter the competition with a total of five submissions.</Text>
    <Text teksttype="underpunkter_medium" stylingclasses="text-left pb-5">Usage rights</Text>
    <Text teksttype="brødtekst" stylingclasses="text-left pb-5">By submitting one or more images and thereby participating in the competition, you agree that the image may be used for the promotion of the photo competition and possibly in physical exhibition spaces afterwards. The organizers will credit the participants wherever practical and reasonably possible.</Text>
    <Text teksttype="underpunkter_medium" stylingclasses="text-left pb-5">Copyright</Text>
    <Text teksttype="brødtekst" stylingclasses="text-left pb-5">You must be the author of the submitted instants and have the rights to publish them. The instants must be free of third party rights. Participants retain all copyright in their submitted instants. By submitting instants to the competition, participants grant the organizers a non-exclusive license to use, reproduce and publish the submitted images in connection with the promotion of the competition, including on social media platforms, websites and printed materials. The organizers will credit the participants wherever practical and reasonable.</Text>
    <Text teksttype="underpunkter_medium" stylingclasses="text-left pb-5">Announcement of Winners</Text>
    <Text teksttype="brødtekst" stylingclasses="text-left pb-5">The winners of the competition will be announced on the official website and/or social media platforms of the organizers. By participating in the competition, the winners consent to the publication of their names and submitted photos for promotional purposes.</Text>
</section>
</Layout>