---
import Text from "../components/Text.astro";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/footer.astro";
---

<Layout>
  <Text teksttype="Titel" stylingclasses="justify-self-end text_white mr-10">INSTAGRAM</Text>

  <p class="Titel">Hello world</p>

  <Footer />
</Layout>
