---
import Text from "../components/Text.astro";
---

<footer class="bg-[#303030] py-12 text-white md:pr-60 md:pl-60">
  <div class="container mx-auto flex flex-col items-center justify-center gap-12 md:flex-row">
    <!-- Left side (text) -->
    <div class="flex flex-1 flex-col items-center text-center">
      <Text teksttype="Titel" stylingclasses="mb-4 pb-7 text-4xl font-medium uppercase">Kontakt</Text>
      <Text teksttype="brødtekst" stylingclasses="mb-1 pb-4">Guldbergsgade 29N, 2200 København</Text>
      <Text teksttype="brødtekst" stylingclasses="mb-1 pb-4">ek@ek.dk</Text>
      <Text teksttype="brødtekst" stylingclasses="mb-1">+45 46 46 00 00</Text>
    </div>

    <!-- Vertical divider (visible only on desktop) -->
    <div class="hidden flex-col items-center md:flex">
      <div class="h-4"></div>
      <!-- top spacing -->
      <div class="h-70 w-px bg-white"></div>
      <!-- fixed height line -->
      <div class="h-4"></div>
      <!-- bottom spacing -->
    </div>

    <!-- Right side (image) -->
    <div class="flex flex-1 justify-center md:justify-end">
      <img src="/images/footer_pic.svg" alt="Footer illustration" class="max-h-80 object-contain" />
    </div>
  </div>
</footer>
