---
import { Image } from "astro:assets";
import Text from "./Text.astro";
import FormCTA from "./FormCTA.astro"
---

<form action="/submit" method="POST" class="space-y-4 grid md:grid-cols-2 gap-4 mb-30">
<div>
  <!-- Navn -->
  <div class="mb-5">
    <label for="name" class="block"><Text teksttype="underpunkter_medium" stylingclasses="color-primary-black">Name</Text></label>
    <input type="text" id="name" name="name" required class="block w-full rounded-sm" />
    <Text teksttype="underpunkter_light" stylingclasses="color-primary-black opacity-50">This will be visible in the gallery.</Text>
  </div>

  <!-- Email -->
  <div class="mb-5">
    <label for="email" class="block"><Text teksttype="underpunkter_medium" stylingclasses="color-primary-black">Email</Text></label>
    <input type="email" id="email" name="email" required class="block w-full rounded-sm" />
    <Text teksttype="underpunkter_light" stylingclasses="color-primary-black opacity-50">This will be visible in the gallery.</Text>
  </div>

  <!-- Select Image -->
  <div class="mb-5">
    <label for="password" class="block"><Text teksttype="underpunkter_medium" stylingclasses="color-primary-black">Select Image</Text></label>
    <input type="password" id="password" name="password" required class="block w-full rounded-sm" />
    <Text teksttype="underpunkter_light" stylingclasses="color-primary-black opacity-50">| JPG | PNG | Max size: 5MB</Text>
  </div>

   <!-- Submission Title -->
  <div class="mb-5">
    <label for="password" class="block"><Text teksttype="underpunkter_medium" stylingclasses="color-primary-black">Submission Title</Text></label>
    <input type="password" id="password" name="password" required class="block w-full rounded-sm" />
    <Text teksttype="underpunkter_light" stylingclasses="color-primary-black opacity-50">Provide context for your picture.</Text>
  </div>

  <!-- Tekstområde -->
  <div class="mb-5">
    <label for="message" class="block"><Text teksttype="underpunkter_medium" stylingclasses="color-primary-black">Submission Description</Text></label>
    <textarea id="message" name="message" rows="4" class="block w-full rounded-sm"></textarea>
    <Text teksttype="underpunkter_light" stylingclasses="color-primary-black opacity-50">Provide a short description for your picture.</Text>
  </div>

  <!-- Checkbox -->
  <label class="flex items-center space-x-2">
    <input type="checkbox" name="agree" required>
    <span>I agree to the terms and conditions</span>
  </label>

  <!-- Submit knap -->
  <div class="my-10 grid grid-cols-2">
    <FormCTA 
    ctaText="Clear Form" 
    ctaLink="/uploaded" 
    bgColor="var(--primary-color-offwhite)" 
    textColor="var(--primary-color-black)"
    borderColor="var(--primary-color-black)"/>

<FormCTA 
    ctaText="Uploade Image" 
    ctaLink="/uploaded" 
    bgColor="var(--primary-color-green)" 
    textColor="var(--primary-color-offwhite)"
    borderColor="var(--primary-color-green)"/>
  </div>

</div>
<Image src="/images/polaroid-3.svg" alt="Form illustration" width="350" height="350" class="col-span-2 md:col-span-1 mx-auto items-center" />
</form>