---
import { Image } from "astro:assets";
import Text from "./Text.astro";
---

<header class="mx-10 mb-20 border-b-2 pb-1">
  <!-- Desktop menu -->
  <nav class="hidden items-center justify-between p-4 px-5 md:flex">
    <a href="/">
      <Image
        src="/images/logo.svg"
        alt="Site Logo"
        width="100"
        height="100"
      /></a
    >
    <ul class="flex space-x-10">
      <li>
        <a href="/"
          ><Text
            teksttype="menupunkter"
            stylingclasses="color-primary-black hover:underline">HOME</Text
          ></a
        >
      </li>
      <li>
        <a href="/share"
          ><Text
            teksttype="menupunkter"
            stylingclasses="color-primary-black hover:underline">SHARE</Text
          ></a
        >
      </li>
      <li>
        <a href="/winners"
          ><Text
            teksttype="menupunkter"
            stylingclasses="color-primary-black hover:underline"
            >WINNERS AND NOMINEES</Text
          ></a
        >
      </li>
      <li>
        <a href="/about"
          ><Text
            teksttype="menupunkter"
            stylingclasses="color-primary-black hover:underline">ABOUT US</Text
          ></a
        >
      </li>
    </ul>
  </nav>
  <!-- Mobile menu -->
  <div class="flex items-center justify-between p-4 px-5 md:hidden">
    <Image src="/images/logo.svg" alt="Site Logo" width="60" height="60" />
    <input type="checkbox" id="menu-toggle" class="peer hidden" />
    <!-- Label med bruger SVG -->
    <label for="menu-toggle" class="z-50 cursor-pointer">
      <!-- Burger SVG -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="block h-9 w-9 peer-checked:hidden"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
    </label>

    <nav
      class="bg-primary-green fixed top-0 left-0 h-full w-0 overflow-hidden transition-all duration-300 peer-checked:w-full"
    >
      <ul class="flex h-full flex-col items-center justify-center space-y-6">
        <li>
          <a href="/"
            ><Text
              teksttype="menupunkter"
              stylingclasses="color-primary-offwhite hover:underline">HOME</Text
            ></a
          >
        </li>
        <li>
          <a href="/share"
            ><Text
              teksttype="menupunkter"
              stylingclasses="color-primary-offwhite hover:underline"
              >SHARE</Text
            ></a
          >
        </li>
        <li>
          <a href="/winners"
            ><Text
              teksttype="menupunkter"
              stylingclasses="color-primary-offwhite hover:underline"
              >WINNERS AND NOMINEES</Text
            ></a
          >
        </li>
        <li>
          <a href="/about"
            ><Text
              teksttype="menupunkter"
              stylingclasses="color-primary-offwhite hover:underline"
              >ABOUT US</Text
            ></a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
